.navbar{
    height:80px;
    background:#2E7D32;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
    box-shadow:0 3px 10px rgba(0,0,0,.15);
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo h2{
    color:white;
    margin:0;
    font-size:30px;
    font-weight:800;
}

.logo p{
    margin:0;
    color:#dcedc8;
    font-size:13px;
}

.logo-icon{
    font-size:42px;
    color:#A5D6A7;
}

.nav-links{
    display:flex;
    align-items:center;
    gap:15px;
}

.nav-link{
    color:white;
    text-decoration:none;
    padding:10px 16px;
    border-radius:8px;
    transition:.25s;
    display:flex;
    align-items:center;
    gap:8px;
}

.nav-link:hover{
    background:#43A047;
}

.active{
    background:#1B5E20;
}

.logout-btn{
    background:#C62828;
    color:white;
    border:none;
    padding:10px 16px;
    border-radius:8px;
    cursor:pointer;
}

.logout-btn:hover{
    background:#B71C1C;
}